$--colors: (
  "primary": (
    "base": #2f408a,
  ),
  "success": (
    "base": #2ba471,
  ),
  "danger": (
    "base": #fa2256,
  ),
  "warning": (
    "base": #fd7e14,
  )
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $--colors,
  $text-color: (
    "primary": #2f408a,
    "secondary": #9da5c8,
  ),
  $bg-color: (
    "page": #f5f7fc,
  ),
  $menu: (
    "item-height": 50px,
    "text-color": #d0d3e0,
    "active-color": #FFFFFF,
    "bg-color": #0f337a,
    "hover-bg-color": #2f408a,
    "base-level-padding": 15px,
    "level-padding": 34px,
    "icon-width": 30px,
  ),
  $border-color: (
    "": #e5e9f3,
    "light": #e5e9f3,
  ),
  $box-shadow: (
    "light": 0 0 20px rgba(15, 51, 122, 0.12),
    "lighter": 0 0 6px rgba(15, 51, 122, 0.12),
  ),
  $card: (
    "border-radius": 5px,
  ),
  $dialog: (
    "border-radius": 5px,
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;